@tailwind base;
@tailwind components;
@tailwind utilities;

@layer base {
    :root {
				--background-dark: hsl(0 0 0);
				--background: hsl(0 0 10);
				--background-light: hsl(0 0% 15%);
				--accent: hsl(180, 100%, 27%);
				--text: hsl(0, 0%, 95%);
				--text-muted: hsl(0, 0%, 70%);
				--border: hsl(0, 0%, 15%);
    }
}

@font-face {
    font-family: 'Aldrich';
    font-style: normal;
    src: url('/fonts/Aldrich-Regular.ttf') format('truetype');
    font-weight: normal;
    font-display: normal;
}
html, body, .background {
  min-width: 100vw;
  min-height: 100svh;
}
body {
  font-family: "Aldrich";
	background: #111111;
	color: white;
  box-sizing: border-box;
  font-size: clamp(14px, 0.95vw, 18px);
}

@media print {
  @page {
    margin: 0;
    size: A4;
  }
  body * {
    visibility: hidden;
  }
  #print-section, #print-section * {
    visibility: visible;
  }
  #print-section {
    position: fixed;
    left: 0;
    top: 0;
    max-width: none;
    -webkit-print-color-adjust: exact !important;   /* Chrome, Safari 6 – 15.3, Edge */
    color-adjust: exact !important;                 /* Firefox 48 – 96 */
    print-color-adjust: exact !important;           /* Firefox 97+, Safari 15.4+ */
  }
  #print-section * {
    break-inside: avoid;
    page-break-inside: avoid;
  }
}

.scroll-thin {
  scrollbar-width: thin;
}